
body {
  background-image: url("./components/cabinet.jpeg");
  background-color:rgba(13,16,23,255);
  background-position: center;
  height:800px;
  background-size: 900px;
  background-repeat: no-repeat;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gametext {
  display:inline-block;
  top: 330px;
  left: 592px;
  position:fixed;
  margin: auto;;
  border-radius: 8px;
  max-width: 1000px;
  box-shadow: 2px 2px 4px rgb(0, 0, 0);
  padding: 109px;
  background-color: rgb(77, 164, 79);
}
