.App {
  text-align: center;
}

/*This is staking my links next to each other and 
keeping them from being on top of each other*/
.navbar-container{
  overflow: hidden; /* will contain if #first is longer than #second */
}

/*This is controling my text that links me to diff pages
its centering my links and spacing them from each other*/
.navbar-btn {
  float: left;
  padding-right: 50px;
  padding-left: 10px;
}

/*this is wrapped around my navbar div
its creating my nav bars box*/
.wrap {
background-color: pink;
max-width: 1080px;
 padding-left: 400px;
 padding-bottom: 10px;
 padding-top: 50px;

}

.blog-card {
padding-left: 10px;
padding: 50px;
background-color: grey;
width:700px;
margin: 0 auto;
 width: 50%;

}

/*images inside blog posts*/
.post-img {
  width: 400px;
  float:left;
  padding: 10px;
}

/*controls text color*/
.blog-contents{
color: antiquewhite;
}